<?xml version='1.0' encoding='utf-8'?>
<plugin 
    id="cordova-plugin-service" 
    version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android"
>
    <name>BackgroundService</name>
    <js-module name="BackgroundService" src="www/index.js">
        <clobbers target="BackgroundService"/>
    </js-module>

    <platform name="android">
        
        <feature name="BackgroundService">
            <param name="android-package" value="cordova.plugin.service.BackgroundService" />
            <param name="onload" value="true" />
        </feature>
           

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BackgroundService">
                <param name="android-package" value="cordova.plugin.service.BackgroundService"/>
            </feature>
        </config-file>
        <edit-config file="AndroidManifest.xml"  mode="merge" target="/manifest/application">
           <application android:usesCleartextTraffic="true" />
        </edit-config>
		<config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
		    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
			<uses-permission android:name="android.permission.VIBRATE"/>
			<uses-permission android:name="android.permission.WAKE_LOCK"/>
			<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
			<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
			<uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
			<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
		</config-file>
        <config-file target="AndroidManifest.xml" parent="application">
		    <service android:enabled="true" android:exported="false" android:name="cordova.plugin.service.EndlessService"></service>
		    <receiver android:enabled="true" android:exported="false" android:name="cordova.plugin.service.StartReceiver">
		    	<intent-filter>
		    		<action android:name="android.intent.action.BOOT_COMPLETED"/>
		    	</intent-filter>
		    </receiver>
	    </config-file>
        <source-file src="src/android/BackgroundService.java" target-dir="src/cordova/plugin/service/BackgroundService"/>
        <source-file src="src/android/Actions.java" target-dir="src/cordova/plugin/service/BackgroundService"/>
        <source-file src="src/android/EndlessService.java" target-dir="src/cordova/plugin/service/BackgroundService"/>
        <source-file src="src/android/ServiceTracker.java" target-dir="src/cordova/plugin/service/BackgroundService"/>
        <source-file src="src/android/StartReceiver.java" target-dir="src/cordova/plugin/service/BackgroundService"/>
        <source-file src="src/android/ServiceApi.java" target-dir="src/cordova/plugin/service/BackgroundService"/>
        <source-file src="src/android/CurrentLocationListener.java" target-dir="src/cordova/plugin/service/BackgroundService"/>
        <source-file src="src/android/DefaultString.java" target-dir="src/cordova/plugin/service/BackgroundService"/>
        <source-file src="src/android/NetworkUtils.java" target-dir="src/cordova/plugin/service/BackgroundService"/>
        <source-file src="src/android/CancelShakePref.java" target-dir="src/cordova/plugin/service/BackgroundService"/>
        <source-file src="src/android/AlarmReceiver.java" target-dir="src/cordova/plugin/service/BackgroundService"/>
        <source-file src="src/android/MyWorker.java" target-dir="src/cordova/plugin/service/BackgroundService"/>
        <source-file src="src/android/PrefUtil.java" target-dir="src/cordova/plugin/service/BackgroundService"/>
        <source-file src="src/android/AutoStartHelper.java" target-dir="src/cordova/plugin/service/BackgroundService"/>
        <source-file src="src/android/CancelShakeDialog.java" target-dir="src/cordova/plugin/service/BackgroundService"/>


        <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
        <source-file src="src/android/raw/beep.mp3" target-dir="app/src/main/res/raw" />
        <source-file src="src/android/layout/dialog.xml" target-dir="app/src/main/res/layout" />
        <source-file src="src/android/layout/bottom_layout.xml" target-dir="app/src/main/res/layout" />
        <source-file src="src/android/layout/background_permission_fragment.xml" target-dir="app/src/main/res/layout" />
        <source-file src="src/android/drawable/button_border.xml" target-dir="app/src/main/res/drawable" /> 
        <source-file src="src/android/drawable/replay.xml" target-dir="app/src/main/res/drawable" />
        <source-file src="src/android/drawable/location_permis5.jpg" target-dir="app/src/main/res/drawable" />
        <source-file src="src/android/values/styles.xml" target-dir="app/src/main/res/values" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="BackgroundService">
                <param name="ios-package" value="BackgroundService"/>
            </feature>
        </config-file>
        <source-file src="src/ios/BackgroundServicePlugin.swift"/>
        <source-file src="src/ios/BackgroundService.swift"/>
    </platform>

    <platform name="browser">
        <js-module src="src/browser/BackgroundService.js" name="browserBackgroundService">
            <clobbers target="BackgroundService"/>
        </js-module>
    </platform>
</plugin>
